<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="invoice.css">
</head>

<body>
  <div className="main_page">
    <div className="O_F_R">
      <span>ORIGINAL FOR RECIPIENT</span>
    </div>
    <div className="main">

      <div className="first">
        <span className="tittle">SHREE SWAMI SAMARTH FABRICATION</span>
        <span className="address">1325/87, VASHIKAR BUILDING , BACKSIDE WALAVALKAR HOSPITAL,SHIVAJI UDYAM
          NAGAR,KOLHAPUR,416008</span>
        <div className="details">
          <span className="details_span">
            <span className="first_span_name">GSTIN</span>
            <span className="first_span_semicolon">:</span>
            <span>27AXZPK5190K1ZJ </span>
          </span>
          <span className="details_span">
            <span className="first_span_name">Email ID</span>
            <span className="first_span_semicolon">:</span>
            <span>27AXZPK5190K1ZJ </span>
          </span>
        </div>
        <div className="details">
          <span className="details_span">
            <span className="first_span_name">State</span>
            <span className="first_span_semicolon">:</span>
            <span>27AXZPK5190K1ZJ </span>
          </span>
          <span className="details_span">
            <span className="first_span_name">Phone No.</span>
            <span className="first_span_semicolon">:</span>
            <span>27AXZPK5190K1ZJ </span>
          </span>
        </div>
        <div>
          <span className="invoice_title">TAX INVOICE</span>
        </div>
      </div>

      <div className="second">
        <div style="width: 50%;border-right: 1px solid black;">
          <div className="details">
            <span className="details_span">
              <span className="first_span_name">Invoice No.</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span">
              <span className="second_span_name_date">Date</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
          <div className="details">
            <span className="details_span">
              <span className="first_span_name">Bill Ref No.</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span">
              <span className="second_span_name_date">Date</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
        </div>


        <div style="width: 50%;">
          <div className="details">
            <span className="details_span">
              <span className="second_span_name">Dispatch Doc No.</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span">
              <span className="second_span_name_date">Date</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
          <div className="details">
            <span className="details_span">
              <span className="second_span_name">Payment Type</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>

          </div>

        </div>
      </div>

      <div className="third">
        <div style="width: 50%;border-right: 1px solid black;">
          <div className="details_2">
            <span className="details_span">
              <span className="second_span_name_title">Billing Details (Bill To)</span>
            </span>
            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">Name</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>

            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">Address</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>

            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">State</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">Phone No.</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">GSTIN</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
        </div>
        <div style="width: 50%;">
          <div className="details_2">
            <span className="details_span">
              <span className="second_span_name_title">Shipping Details (Ship To)</span>
            </span>
            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">Name</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>

            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">Address</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>

            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">State</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">Phone No.</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span" style="padding: 7px 0px;">
              <span className="second_span_name">GSTIN</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
        </div>
      </div>
      <div className="fourth">
        <div style="width: 50%;border-right: 1px solid black;">
          <div className="details">
            <span className="details_span">
              <span className="first_span_name">E-Way No</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
        </div>

        <div style="width: 50%;">
          <div className="details">
            <span className="details_span">
              <span className="first_span_name">Vehicle No</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
            <span className="details_span">
              <span className="first_span_name">Destination</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>

        </div>
      </div>
      <div className="fifth">
        <div style="width: 100%;">
          <div className="details">
            <span className="details_span">
              <span className="first_span_name">IRN</span>
              <span className="first_span_semicolon">:</span>
              <span> </span>
            </span>
          </div>
        </div>
      </div>
      <div className="sixth">
        <table style="width: 100%;">
          <tbody>
            <tr className="sixth_tbl">
              <th rowspan="2">SlNo </th>
              <th rowspan="2">Item Description</th>
              <th rowspan="2">HSN/SAC</th>
              <th rowspan="2">Qty</th>
              <th rowspan="2">Unit</th>
              <th>Basic</th>
              <th>Gross</th>
              <th>Dis.</th>
              <th colspan="2">CGST + SGS</th>
              <th rowspan="2">Amount </th>
            </tr>
            <tr className="sixth_tbl">
              <th><small>Rate</small></th>
              <th><small>Amount</small></th>
              <th><small>Amount</small></th>
              <th><small>Tax Per</small></th>
              <th><small>Tax Amount</small></th>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr className="sixth_tbl">
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>


          </tbody>
        </table>
      </div>
      <div className="seventh">
        <div className="seventh_A">
          <div className="seventh_A_1">
            <div className="seventh_A_1_tbl">
              <table>
                <tbody>
                  <tr>
                    <th>TAXABLE AMT</th>
                    <th>CGST %</th>
                    <th>CGST AMT</th>
                    <th>SGST %</th>
                    <th>SGST AMT</th>
                    <th>IGST %</th>
                    <th>IGST AMT</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td className="seventh_A_1_tbl_t">Total</td>
                    <td className="seventh_A_1_tbl_t">CGST</td>
                    <td>533.90</td>
                    <td className="seventh_A_1_tbl_t">SGST</td>
                    <td>533.90</td>
                    <td className="seventh_A_1_tbl_t">IGST</td>
                    <td>0.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div className="seventh_A_1_qrcode">
              <span>No. of Items : 2</span>
              <span><img src="./Screenshot 2024-02-29 193724.png" alt="qrcode"></span>
              <span>9763456129@okbizaxis</span>
            </div>
          </div>
          <div className="seventh_A_2">
            <span style=" width: 100px; font-weight: bold;">Bank Details :</span>

            <div style="width: 100%;">
              <div className="details">
                <span className="details_span">
                  <span className="seventh_A_2_span_name">Bank Name</span>
                  <span className="first_span_semicolon">:</span>
                  <span> </span>
                </span>
                <span className="details_span">
                  <span className="seventh_A_2_span_name">A/c No.</span>
                  <span className="first_span_semicolon">:</span>
                  <span> </span>
                </span>
              </div>


              <div className="details">
                <span className="details_span">
                  <span className="seventh_A_2_span_name">Branch Name</span>
                  <span className="first_span_semicolon">:</span>
                  <span> </span>
                </span>
                <span className="details_span">
                  <span className="seventh_A_2_span_name">IFSC</span>
                  <span className="first_span_semicolon">:</span>
                  <span> </span>
                </span>
              </div>
            </div>
          </div>

        </div>
        <div className="seventh_B">
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name"><b>Total Amount</b></span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3">0</span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">Discount Amount</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">Pre Tax</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">Taxable Amount</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">CGST Amt</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">SGST Amt</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">Cess Amount</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">Post Tax</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name"></span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"></span>
          </span>
          <span className="details_span seventh_B_w">
            <span className="seventh_B_span_name">Round Off Amount</span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3"> </span>
          </span>
        </div>
      </div>
      <div className="eight">
        <div className="eigth_A">
          <div>
            <div className="details">
              <span className="details_span">
                <span className="eight_span_name_date">Amount In Words :</span>
              </span>
            </div>
            <div className="details">
              <span className="details_span">
                <span className="eight_span_name_date">SEVEN HUNDREDS</span>
              </span>
            </div>
          </div>
        </div>
        <div className="eigth_B">
          <span className="details_span seventh_B_w" style="padding: 5px;">
            <span className="seventh_B_span_name"><b>Grand Total</b></span>
            <span className="first_span_semicolon">:</span>
            <span className="seventh_B_span_3">0 </span>
          </span>
        </div>
      </div>
      <div className="nineth" style="padding: 5px;">
        <div className="nineth_A">Terms & condition :</div>
        <div className="nineth_B">
          <ol className="nineth_B_ol">
            <li>COMPLETION OF WORK WILL BE AFTER 1 WEEK, AFTER RECEIVING YOUR PURCHASE ORDER.</li>
            <li>PAYMENT CONDITION 70% ADVANCE.</li>
            <li>QUOTATION VALIDITY 2 DAYS FROM THE DATE OF ISSUE.</li>
            <li>REMAINING 30% AFTER WORK COMPLETION.</li>
          </ol>
        </div>
      </div>
      <div className="tenth" style="padding: 5px;">
        <span>E. & O.E.</span>
      </div>
      <div className="eleventh">
        <div className="eleventh_A" style="border-right: 1px solid black;">
          <span>RECEIVED THE MATERIAL IN GOOD CONDITION</span>
          <span>RECEIVER'S SIGNATURE AND SEAL</span>
        </div>
        <div className="eleventh_A" style="text-align: center;">
          <span>For SHREE SWAMI SAMARTH FABRICATION</span>
          <span>Authorised Signatory</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html> -->