.mainrow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
}
.mainrow p{
    font-weight: 100;
}
.header{
    width: 100vw;
    height: 15%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leftyear {
margin-left: 5vw;
width: 20%;
}
.leftyear img{
    width: 7rem;
    height: auto;
}
.rightear {
width: 80%;
display: flex;
flex-direction: row;
align-items: center;
margin-right: 6vw;
}
.rightear * {
width: 33%;
text-wrap: wrap;
margin-left: 1vw;
}
.rightear  .yellow{
    border: none;
    width: 100%;
    height: auto;
    background-color: #fed300;
    border-radius: 7px;
    box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.rightear .grey {
    border: none;
    width: 100%;
    height: auto;
    background-color: #a0a7af;
    border-radius: 7px;
    box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.rightear  .yellow a{
    color: #fdffff;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
}
.grey a {
    color: #fdffff;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
}  
.rightear a {
text-decoration: none;
vertical-align: middle;
font-size: 1.9vw;
}
.h4{
    color: #fed710;
    font-weight: bold;
    position: relative;
    margin-left: auto;
font-size: 2vw;
margin-bottom: auto;

}
.neckbar *{
    color: white;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
    font-size: 100%;
}
.neckbar{
    width: 90%;
    height: 15%;
    background-color: #fed300;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.slider{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.para{
    margin-left: 5vw;
    margin-right: 5vw;
}
.p{
font-size: 1.35vw;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright img{
width: 10vw;
margin-top: 0;
margin-bottom: 1vh;
}
.copyright p{
    font-size: 70%;
}
.copyright .dev{
    margin-bottom: -1rem;
}

  
  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .h4{
       
    font-size: 3vw;
    margin-left: 60%;
    }

    .neckbar a{
        font-size: 80%;
    }
    .neckbar *{
        margin-bottom: 2px;
    }
    .header{
        margin-top: 1vh;
        margin-bottom: 1vh;
        }
        
        .leftyear img{
        width: 5rem;
        height: auto;
    }
    .neckbar{
        height: 5%;
    }
    .slider{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .p{
    font-size: 2.7vw;
    }    
  }  
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .h4 {
margin-left: 30%;
    }
  }
    @media only screen and (min-width: 800px) and (max-width: 1000px) {
    .h4 {
margin-left: 40%;
    }
  }
  
  @media only screen and (min-height: 1000px) and (max-height: 1400px) {
    .h4 {
margin-left: 60%;
    }
  }
  


